<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row d-flex">
            <ul class="list-unstyled d-flex col-12 justify-content-center">
                <li class="mr-4"><a href="{{ site.social_links.github}}"><img src="/assets/images/github.svg" alt="Logo" class="img-thumbnail" style="width: 32px" /></a></li>
                <li class="mr-4"><a href="{{ site.social_links.xing}}"><img src="/assets/images/xing.svg" alt="Logo" class="img-thumbnail" style="width: 32px" /></a></li>
                <li class="mr-4"><a href="{{ site.social_links.codeproject}}"><img src="/assets/images/codeproject.svg" alt="Logo" class="img-thumbnail" style="width: 32px" /></a></li>
            </ul>
        </div>
        <div class="row copyright">
            <ul class="list-unstyled d-flex col-12 justify-content-center">
                <li class="mr-4 text-muted">{{ site.copyright | escape }} {{ site.author.name}}</li>
                <li class="mr-4"><a href="mailto:{{ site.author.email}}">{{ site.author.email | escape }}</a></li>
            </ul>
        </div>
    </div>
</footer>