<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BSE.Tunes.XApp.iOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.2.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>53F8A79E6D3032B10C0CBA649DFCE070D21BC111</string>
				<key>dateExpires</key>
				<string>25.04.23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53F8A79E6D3032B10C0CBA649DFCE070D21BC111</string>
						<key>dateExpires</key>
						<string>25.04.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libSkiaSharp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98LH7BG9F6</string>
						<key>name</key>
						<string>Uwe Eichkorn</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>98LH7BG9F6.com.bsetunes.xapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>98LH7BG9F6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BSE.Tunes.XApp.iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a7869d52-525c-404b-bb1d-2e6f6badf291</string>
				<key>dateExpires</key>
				<string>25.04.23</string>
				<key>name</key>
				<string>BSEtunes AdHoc Provisioning Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>98LH7BG9F6</string>
				<key>name</key>
				<string>Uwe Eichkorn</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.200</string>
		</dict>
	</array>
</dict>
</plist>
